<!DOCTYPE html>
<html>
  <head>
    <title>Books2App</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <div class="col-xs-10 col-xs-offset-1">
      <h1>Books</h1>
      <%= link_to 'New Book', new_book_path, class: "btn btn-default" %>
    </div>
  </header>

  <body>
    <%= yield %>
  </body>
</html>
